/* reset
------------------------------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

/* layout
------------------------------------------------------------------------------*/
#site-wrapper {
    width: 98%;
    max-width: 900px;
    padding-top: 3rem;
    margin: 0 auto;
}

.sleeve {
    margin-bottom: 12px;
    margin-left: 12px;
    float: left;

    @media (min-width: 301px) {
        width: calc(50% - 6px);

        &:nth-of-type(2n+1) {
            margin-left: 0;
        }
    }

    @media (min-width: 601px) {
        width: 30%;

        &:nth-of-type(2n+1) {
            margin-left: 12px;
        }
    }
}
