/* layout
------------------------------------------------------------------------------*/
#site-wrapper {
    width: 100%;
    max-width: 960px; // keeping it real..
    padding-top: 1rem;
    margin: 0 auto;
} // close layout

figcaption {
	margin-bottom: 1rem;
	font-size: .75rem;
	font-style: italic;
	color: #ccc;
}
